<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time_slot %><br>
    <%= f.text_field :time_slot %>
  </div>
  <div class="field">
    <%= f.label :no_of_guests %><br>
    <%= f.number_field :no_of_guests %>
  </div>
  <div class="field">
    <%= f.label :paid %><br>
    <%= f.check_box :paid %>
  </div>
  <div class="field">
    <%= f.label :client_telephone %><br>
    <%= f.text_field :client_telephone %>
  </div>
  <div class="field">
    <%= f.label :booking %><br>
    <%= f.text_field :booking %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
