<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time slot:</strong>
  <%= @event.time_slot %>
</p>

<p>
  <strong>No of guests:</strong>
  <%= @event.no_of_guests %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @event.paid %>
</p>

<p>
  <strong>Client telephone:</strong>
  <%= @event.client_telephone %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @event.booking %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
